body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
* {
  box-sizing: border-box;
}

.container {
  margin: 1rem;
  border-radius: 2rem;
  background: rgba(9, 25, 49, 1.00);
  background-color: #020B19;
}
@media only screen and (max-width: 1120px) {
  .container {
    margin: 0.5rem;
    border-radius: 1.5rem;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}
.copyright {
  color: rgba(255, 255, 255, 0.8);
}
.media > a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: 0.15s;
  margin-left: 7px;
}
.media > a:hover {
  color: rgba(255, 255, 255, 1);
}
@media only screen and (max-width: 1120px) {
  .footer {
    padding: 2rem;
  }
}
@media only screen and (max-width: 480px) {
  .footer {
    display: block;
    text-align: center;
    padding: 2rem;
  }
  .media {
    margin-top: 7px;
  }
  .media > a {
    margin-left: 0;
    margin-right: 7px;
  }
}

/* Content */
.content {
  width: 1000px;
  margin: 5vh auto;
}
.heading {
  color: white;
  font-weight: 500;
  font-size: 8.4rem;
  line-height: 8.4rem;
  margin: 0;
  display: inline-block;
  background: rgb(138,241,124);
  background: linear-gradient(45deg, rgba(138,241,124,1) 0%, rgba(60,110,255,1) 25%, rgba(249,0,233,1) 50%, rgba(255,165,33,1) 75%, rgba(234,73,136,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading-desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  display: block;
  padding-top: 3rem;
  font-weight: 300;
  margin: 0;
}
.notify-button {
  display: inline-block;
  margin-top: 3rem;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 7px;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
.notify-button:focus {
  outline: none;
}
.notify-button:hover {
  background: #e3e3e3;
}
.notify-button > span {
  background: rgb(16,60,145);
  background: linear-gradient(45deg, rgba(16,60,145,1) 50%, rgb(79, 22, 158) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 1120px) {
  .content {
    width: calc(100% - 2rem);
    margin: 1rem 2rem;
  }
  .heading {
    font-size: 6rem;
    line-height: 6rem;
  }
  .heading-desc {
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .heading > div {
    display: inline-block;
  }
  .heading > div:after {
    content: "\00a0";
  }
}
@media only screen and (max-width: 480px) {
  .content {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
  .notify-button {
    display: block;
    text-align: center;
    margin-top: 2rem;
  }
  .heading-desc {
    padding-top: 2rem;
  }
  .heading {
    font-size: 3rem;
    line-height: 3rem;
  }
}

/* Header */
.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  color: white;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 1rem;
}
.logo > img {
  height: 32px;
  margin-right: 1rem;
}
.coming-soon-msg {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.8);
}
.medium {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 7px;
  background: rgb(221,221,221);
  background: linear-gradient(45deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 32%, rgba(221,221,221,1) 60%, rgba(255,255,255,1) 100%);
}
.medium > img {
  height: 32px;
  margin-right: 12px;
}
.medium > span:nth-child(3) > img {
  margin-left: 16px;
  transform: translateY(2px);
}
@media only screen and (max-width: 1120px) {
  .header {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .coming-soon-msg {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    margin-left: 0;
  }
  .logo > span {
    display: none;
  }
}